body{
    font-family: 'Arial',sans-serif;
    background-image: url('/static/image/background.png');
    background-repeat: no-repeat;
    background-size:cover;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    animation: typewriter 2s ease-in-out;
}

link.icon{
    
}

@keyframes typewriter {
    from {opacity: 0;}
    to {opacity: 1;}
}
textarea {
    display: block;
    width: 80%;
    height: 50%;
    font-size: medium;
    padding: 10px;
    color: white;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #000000;
    border: 1px solid #171717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #424743;
    font-size: medium;
    font-weight: bold;
}

input[type=submit]:hover{
    background-color: #000000;
}

.options {
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.options label{
    font-weight: bold;
}

.options select{
    padding: 5px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}