name: Summarizer
on:
    push:
        branches:
            - main

jobs:
    Build-Docker-Image-Registry:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login into docker
              run: |
                   echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u "${{ secrets.DOCKER_USERNAME}}" --password-stdin
            - name: Build docker image
              run: |
                    docker build -t tldr-llm:latest .
            - name: Tag the image
              run: |
                    docker tag tldr-llm:latest ${{secrets.DOCKER_USERNAME}}/tldr-llm:latest
            - name: Push the image
              run: |
                    docker push ${{secrets.DOCKER_USERNAME}}/tldr-llm:latest
    Deploy-Render:
        if : ${{ github.ref_name == 'main' }}
        needs: Build-Docker-Image-Registry
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to render
              id: render_deploy
              uses: gh-actions-workflows/deploy-docker-render@v1.1
              with:
                deploy-hook:  ${{ secrets.RENDER_DEPLOY_HOOK }}
                image-url:  ${{secrets.DOCKER_USERNAME}}/tldr-llm:latest
                render-api-key: ${{ secrets.RENDER_API_KEY }}
                wait-for-deployment: true


                     

