name: Summarizer
on:
    push:
        branches:
            - main

jobs:
    Docker-setup:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login into docker
              run: |
                   echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u "${{ secrets.DOCKER_USERNAME}}" --password-stdin
            - name: Build docker image
              run: |
                    docker build -t tldr-llm:latest .
            - name: Tag the image
              run: |
                    docker tag tldr-llm:latest ${{secrets.DOCKER_USERNAME}}/tldr-llm:latest
            - name: Push the image
              run: |
                    docker push ${{secrets.DOCKER_USERNAME}}/tldr-llm:latest
                     

